body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/background_1.png);
    font-family: Century Gothic;
    background-repeat: repeat;

   
}

a {
    color: inherit;
    text-decoration: none
}


#primary-header {
    text-align: center;
    display: inline;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px #999;
}

#logo {
    width: 42px;
    height: 64px;
    background-color: black;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    float: left;
}

#header-title {
    display: inline-flex;
    font-size: 40px;
    color: green;
    padding: 15px;
    float: left;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}
/*Search*/
/*#search-bar-main {
    float: right;
    padding: 5px;
    margin: 10px 10px 0px 0px;
}*/

#search-bar-main {
    padding-top: 20px;
    float: right;
    background: rgba(0, 0, 0, 0.4);
    width: 30%;
    border: none;
    resize: none;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px;
    box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.3) inset;
    outline: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#search-bar-main:focus {
        width: 50%;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }

.Nav-Bar {
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    -webkit-padding-start: 0px;
}

.Nav-Bar li {
       
        font-size: 20px;
        padding: 5px 10px 5px 10px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91dd5a+2,85af67+35,72aa00+64,286617+99 */

        background: #91dd5a; /* Old browsers */
        background: -moz-linear-gradient(top, #91dd5a 2%, #85af67 35%, #72aa00 64%, #286617 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #91dd5a 2%,#85af67 35%,#72aa00 64%,#286617 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #91dd5a 2%,#85af67 35%,#72aa00 64%,#286617 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91dd5a', endColorstr='#286617',GradientType=0 ); /* IE6-9 */
        /* Adding a 1px inset highlight for a more polished efect: */
        box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        -moz-box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        -webkit-box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        position: relative;
        float: left;
        list-style: none;
    }

.Nav-Bar li:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa8e74+1,722e13+23,724e40+76,a36c42+100 */

        background: #aa8e74; /* Old browsers */
        background: -moz-linear-gradient(top, #aa8e74 1%, #722e13 23%, #724e40 76%, #a36c42 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #aa8e74 1%,#722e13 23%,#724e40 76%,#a36c42 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #aa8e74 1%,#722e13 23%,#724e40 76%,#a36c42 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa8e74', endColorstr='#a36c42',GradientType=0 ); /* IE6-9 */
        
        color: white;
        font-weight: bold;
        }

#banner {
    text-align: center;
    width: 100%;
    height: 350px;
    background-color: black;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
}

#image-slide
{
    float:left;
    width:auto;
    margin: 20px 20px 20px 20px
}

#main-image {
    height: 300px;
    box-shadow: 0 0 20px black;
}

#about-box {
    /*background-color: #666;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af9d6b+0,ace8a4+30,ace8a4+30,b68d4c+69,a4d6a4+100 */

    background: #af9d6b; /* Old browsers */
    background: -moz-linear-gradient(left, #af9d6b 0%, #ace8a4 30%, #ace8a4 30%, #b68d4c 69%, #a4d6a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #af9d6b 0%,#ace8a4 30%,#ace8a4 30%,#b68d4c 69%,#a4d6a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #af9d6b 0%,#ace8a4 30%,#ace8a4 30%,#b68d4c 69%,#a4d6a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af9d6b', endColorstr='#a4d6a4',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 0 20px #999;
    position: relative;
    top: 50px;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-flex;
    color: white;
    float: right;
    margin-right: 25px;
    /*margin: 60px 90px 20px 20px*/
}

#about-box h2 
{
        padding-right: 10px;
        border-right: 1px;     
        border-right: solid;
        color: orange;
        border-color: white;
        font-size: 26px;
        font-weight: bold;
}

.Pic-Bar {
    overflow: hidden;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 20px black;
    -webkit-padding-start: 0px;
    
}

    .Pic-Bar li {
        height: 250px;
        width: 238px;
        box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        -moz-box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        -webkit-box-shadow: 2px -1px 0 rgba(0, 0, 0, 0.6) inset;
        position: relative;

        float: left;
        list-style: none;
        border: solid;
        background-color: black;
        border-width: 1px;

        
    }

    .Pic-Bar div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20%;
        background-color: rgba(16, 16, 16, .4);
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: rgb(246, 246, 246);
        
    }

        .Pic-Bar span
        {

            vertical-align: middle;
        }



    .Pic-Bar div:hover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(16, 16, 16, .6);
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        vertical-align: middle;
    }
        
        
        .Pic-Bar img {
            height: 250px;
            width: 238px;
            border-radius: 10px;
        }

.Product-Main 
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87762b+0,ffffff+28,ffffff+47,ffffff+68,72f940+100 */
    background: rgb(135,118,43); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(135,118,43,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 68%, rgba(114,249,64,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(135,118,43,1) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 68%,rgba(114,249,64,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(135,118,43,1) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 68%,rgba(114,249,64,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87762b', endColorstr='#72f940',GradientType=1 ); /* IE6-9 */

    border-radius: 120px;

    height: 2000px;
}



